#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Media query for mobile devices */
@media only screen and (max-width: 768px) {
  #root {
    max-width: 100%; /* Lock screen width for mobile devices */
    padding: 0 1rem; /* Adjust padding for better mobile display */
  }

  .card {
    padding: 1em; /* Adjust card padding for better mobile display */
  }
}
